/*load*/
.load_bg{ background:#9bbb58; font-size:1.4rem;}
.load_box{ width:100%; height:100%; box-sizing:border-box; text-align:center;}
.load_box_in{ padding:1rem 1.5rem;}
.load_pic{ width:10rem; height:10rem; display:inline-block; background:url(../images/load_icon.png) no-repeat 0 0; background-size:100%; margin-bottom:1rem;-webkit-animation:load_down 0.5s linear;-moz-animation:load_down 0.5s linear;-o-animation:load_down 0.5s linear;animation:load_down 0.5s linear;}
.load_text{ width:100%; line-height:3.5rem; box-sizing:border-box; padding:0 0.5rem; text-align:left;  background:#fff; border:#50710a 2px solid; outline:none;-webkit-animation:load_left 0.5s linear ;-moz-animation:load_left 0.5s linear ;-o-animation:load_left 0.5s linear ;animation:load_left 0.5s linear ;}
.load_btn{ text-align:center; margin-top:1.5rem;}
.load_btn a{ padding:0 2.5rem; line-height:3rem; background:#cecece; display:inline-block; color:#666; margin:0 0.5rem; border-radius:3px;-webkit-animation:load_opacity 0.8s linear ;-moz-animation:load_opacity 0.8s linear ;-o-animation:load_opacity 0.8s linear ;animation:load_opacity 0.8s linear ;}
.load_btn a:first-child{ background:#d85526; color:#fff;}

@keyframes load_down{
	0% {transform:translate(0,-150%)}
	50% {transform:translate(0,-20%)}
	80% {transform:translate(0,-35%)}
	90% {transform:translate(0,-10%)}
	95% {transform:translate(0,-25%)}
	100% {transform:translate(0,0)}		
}
@-webkit-keyframes load_down{
	0% {-webkit-transform:translate(0,-150%)}
	50% {-webkit-transform:translate(0,-20%)}
	80% {-webkit-transform:translate(0,-35%)}
	90% {t-webkit-ransform:translate(0,-10%)}
	95% {-webkit-transform:translate(0,-25%)}
	100% {-webkit-transform:translate(0,0)}	
}
@-moz-keyframes load_down{
	0% {-moz-transform:translate(0,-150%)}
	50% {-moz-transform:translate(0,-20%)}
	80% {-moz-transform:translate(0,-35%)}
	90% {t-moz-ransform:translate(0,-10%)}
	95% {-moz-transform:translate(0,-25%)}
	100% {-moz-transform:translate(0,0)}	
}
@-o-keyframes load_down{
	0% {-o-transform:translate(0,-150%)}
	50% {-o-transform:translate(0,-20%)}
	80% {-o-transform:translate(0,-35%)}
	90% {t-o-ransform:translate(0,-10%)}
	95% {-o-transform:translate(0,-25%)}
	100% {-o-transform:translate(0,0)}	
}

@keyframes load_left{
	from {transform:translate(-150%,0)}
	100% {transform:translate(0,0)}	
}
@-webkit-keyframes load_left{
	from {-webkit-transform:translate(-150%,0)}
	100% {-webkit-transform:translate(0,0)}	
}
@-moz-keyframes load_left{
	from {-moz-transform:translate(-150%,0)}
	100% {-moz-transform:translate(0,0)}	
}
@-o-keyframes load_left{
	from {-o-transform:translate(-150%,0)}
	100% {-o-transform:translate(0,0)}	
}
@keyframes load_opacity{
    from{opacity:0;}
    to{opacity:1;}
}
@-webkit-keyframes load_opacity{
    from{opacity:0;}
    to{opacity:1;}
}
@-moz-keyframes load_opacity{
    from{opacity:0;}
    to{opacity:1;}
}
@-o-keyframes load_opacity{
    from{opacity:0;}
    to{opacity:1;}
}
