<extend name="Public/base" />

<block name="body">	
    <link rel="stylesheet" href="__STATIC__/fancy/jquery.fancybox.css">
    <script src="__STATIC__/fancy/jquery.fancybox.js"></script>
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>图片列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('add')}">新 增</a>
            <button class="btn ajax-post confirm" url="{:U('changeStatus?method=del')}" target-form="ids">删 除</button>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">名称</th>
		<th class="">电话</th>
		<th class="">传真</th>
		<th class="">邮箱</th>
		<th class="">时间</th>
		<th class="">排序</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.name}</td>
			<td>{$vo.mobile}</td>
			<td>{$vo.print}</td>
			<td>{$vo.mail}</td>
			<td>{$vo.sort}</td>
			<td><span>{$vo.create_time|time_format}</span></td>
			<td>
                <a href="{:U('add',array(id=>$vo['id']))}">[编辑]</a>
				<eq name="vo.status" value="1">
				<a href="{:U('changeStatus?method=forbid&id='.$vo['id'])}" class="ajax-get">[禁用]</a>
				<else/>
				<a href="{:U('changeStatus?method=resume&id='.$vo['id'])}" class="ajax-get">[启用]</a>
				</eq>
                <a href="{:U('changeStatus?method=del&id='.$vo['id'])}" class="confirm ajax-get">[删除]</a>
            </td>                
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script type="text/javascript">
    //导航高亮
    highlight_subnav('{:U('Others/contact')}');
	</script>
</block>
