<!doctype html>
<html class="no-js">
<include file="index/header" />
<body>
<div id="loading" class="popload">
    <div class="popload-main">
        <span class="popload-main-ico"></span>
        <p class="popload-main-txt" id="progress">加载中...</p>
    </div>
</div>

<div class="wrapper">
    <header data-am-widget="header" class="am-header am-header-default am-header-fixed">
        <div class="am-header-left am-header-nav">
            <a href="{:U('Index/Home')}" class="am-btn">
                <i class="am-header-icon am-icon-angle-left am-icon-sm"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            老师课程
        </h1>
        <div class="am-header-right am-header-nav">
            <button class="am-btn am-btn-primary" data-am-collapse="{target: '#collapse-nav'}"><i class="am-icon-bars am-icon-sm"></i></button>
        </div>
        <nav>
            <ul id="collapse-nav" class="am-nav am-collapse">
                    <li><a href="{:U('Index/Home')}">首页</a></li>
                    <li><a href="usercenter.html">个人中心</a></li>
                    <li><a href="rank.html">进步之星排名</a></li>
                    <li><a href="about.html">中心简介</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                </ul>
        </nav>
    </header>

    <div class="courses-wrapper">
        <div class="courses-tch-top am-g am-padding-bottom-sm am-padding-top-sm">
            <div class="am-u-sm-4 am-u-sm-offset-4">
                <img src="__ASSETS__/images/p1.jpg" class="am-img-thumbnail am-circle" alt="">
            </div>
            <div class="am-u-sm-12 am-text-center">
                <h3>张学良</h3>
                <p id="tch-desc" class="ellipsis3">简介：张学良（1901年6月3日－2001年10月14日），字汉卿，号毅庵，乳名双喜、小六子。汉族，籍贯辽宁省盘锦市大洼县东风镇[1]  ，生于辽宁省鞍山市台安县桓洞镇鄂家村张家窝堡屯（旧称桑子林詹家窝铺），国民革命军将领，奉系军阀首领张作霖的长子，中国近代著名爱国将领。</p>
                <div class="am-text-center courses-angle">
                    <i class="am-icon-angle-down"></i>
                </div>
            </div>
        </div>
        <div class="courses-list">
            <ul class="am-list" id="course-list">
                <li class="course-item">
                    <h3>小学数学 1对2</h3>
                    <div class="desc">
                        时间：周二/10:00-12:00 <br>
                        地点：同乐校区201 <br>
                    </div>
                    <div class="price-box">
                        <span class="price">￥<strong>880/10</strong>次 <br></span>
                        <span class="xw">学位：<strong>3</strong>位</span>
                    </div>
                    <i class="am-icon-angle-right"></i>
                </li>
                <li class="course-item">
                    <h3>小学数学 1对2</h3>
                    <div class="desc">
                        时间：周二/10:00-12:00 <br>
                        地点：同乐校区201 <br>
                    </div>
                    <div class="price-box">
                        <span class="price">￥<strong>880/10</strong>次 <br></span>
                        <span class="xw">学位：<strong>3</strong>位</span>
                    </div>
                    <i class="am-icon-angle-right"></i>
                </li>
                <li class="course-item">
                    <h3>小学数学 1对2</h3>
                    <div class="desc">
                        时间：周二/10:00-12:00 <br>
                        地点：同乐校区201 <br>
                    </div>
                    <div class="price-box">
                        <span class="price">￥<strong>880/10</strong>次 <br></span>
                        <span class="xw">学位：<strong>3</strong>位</span>
                    </div>
                    <i class="am-icon-angle-right"></i>
                </li>
            </ul>
            <div class="list-more am-text-center">
                点击加载更多
            </div>
        </div>
    </div>

    <footer class="am-footer am-footer-default">
        <div class="am-footer-miscs">
            <p>CopyRight©2016  四志教育 Inc.</p>
        </div>
    </footer>
</div>

<script src="__ASSETS__/vendors/lib.min.js"></script>
<script src="__ASSETS__/scripts/app.min.js"></script>
</body>
</html>