            <nav>
                <ul id="collapse-nav" class="am-nav am-collapse">
                    <li><a href="{:U('Index/Home')}">首页</a></li>
                    <li><a href="{:U('User/UserCenter')}">个人中心</a></li>
                    <li><a href="{:U('Index/Rank')}">进步之星排名</a></li>
                    <li><a href="{:U('Index/Discipline')}">纪律之星排名</a></li>
                    <li><a href="{:U('Index/About')}">中心简介</a></li>
                    <li><a href="{:U('Index/Contact')}">联系我们</a></li>
                    <li><a href="{:U('Index/Invite')}">邀请码</a></li>
                </ul>
            </nav>