<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script>
        (function(f){var h=f.document;var b=h.documentElement;var k=f.orientation||0;var j=640;var a=9/16;var d=20;var i=f.devicePixelRatio;var c=i?1/i:1;h.write('<meta name="viewport" content="initial-scale='+c+",maximum-scale="+c+",minimum-scale="+c+',user-scalable=0">');var g=b.clientWidth;var e=b.clientHeight;if(Math.abs(k)==90||g>e){g*=a}b.style.fontSize=(g/i)*d/(j/i)+"px"})(window);
    </script>
    <title>确认订单</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="stylesheet" href="__ASSETS__/styles/style.min.css">

</head>
<body>
<div id="loading" class="popload">
    <div class="popload-main">
        <span class="popload-main-ico"></span>
        <p class="popload-main-txt" id="progress">加载中...</p>
    </div>
</div>

<div class="wrapper">
    <header data-am-widget="header" class="am-header am-header-default am-header-fixed">
        <div class="am-header-left am-header-nav">
            <a href="{:U('Index/Home')}" class="am-btn">
                <i class="am-header-icon am-icon-angle-left am-icon-sm"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            确认订单
        </h1>
        <div class="am-header-right am-header-nav">
            <button class="am-btn am-btn-primary" data-am-collapse="{target: '#collapse-nav'}"><i class="am-icon-bars am-icon-sm"></i></button>
        </div>
        <nav>
            <ul id="collapse-nav" class="am-nav am-collapse">
                    <li><a href="{:U('Index/Home')}">首页</a></li>
                    <li><a href="usercenter.html">个人中心</a></li>
                    <li><a href="rank.html">进步之星排名</a></li>
                    <li><a href="about.html">中心简介</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                </ul>
        </nav>
    </header>

    <div class="order-wrapper app-form">
        <form action="order-success.html">
            <ul class="am-list">
                <li>
                    <span>
                        上课老师
                    </span>
                    <span class="am-fr">张学良</span>
                </li>
                <li>
                    <span>
                        科目
                    </span>
                    <span class="am-fr">小学数学1对2</span>
                </li>
                <li>
                    <span>
                        课时费
                    </span>
                    <span class="am-fr"><strong>￥200/10次</strong></span>
                </li>
                <li>
                    <span>
                        上课时间
                    </span>
                    <span class="am-fr">周六 14：00-16：00</span>
                </li>
                <li>
                    <span>
                        上课地点
                    </span>
                    <span class="am-fr">一校区 B201</span>
                </li>
                <li>
                    <span>
                        订单合计
                    </span>
                    <span class="am-fr"><strong>￥320</strong></span>
                </li>
                <li class="cuc-box">
                    <span>
                        姓名
                    </span>
                    <span class="am-fr form-ctrl">
                        <input type="text" placeholder="请输入姓名" name="name">
                    </span>
                    <div class="cuc" id="cuc">
                        <i class="am-icon-user-plus"></i>
                        选联系人
                        <select>
                            <option value="" disabled selected>请选择</option>
                            <option value="地址1">啦啦啦1</option>
                            <option value="地址2">啦啦啦2</option>
                        </select>
                    </div>
                </li>
                <li class="am-cf cuc-box">
                    <span class="am-fl">
                        联系方式
                    </span>
                    <span class="am-fr form-ctrl">
                        <input type="text" placeholder="请输入您的联系方式" name="contact">
                    </span>
                </li>
                <li>
                    <span>
                        学校
                    </span>
                    <span class="am-fr form-ctrl"><input type="text" placeholder="请输入学校"></span>
                </li>
                <li>
                    <span>
                        班级
                    </span>
                    <span class="am-fr form-ctrl"><input type="text" placeholder="请输入班级"></span>
                </li>
                <li>
                    <span>
                        支付方式
                    </span>
                    <span class="am-fr form-ctrl">
                        <select name="" id="">
                            <option>微信支付</option>
                            <option>支付宝支付</option>
                            <option>银联支付</option>
                        </select>
                    </span>
                </li>
                <li>
                    <button class="am-btn am-btn-danger am-btn-block am-btn-lg">确认</button>
                </li>
            </ul>
        </form>
    </div>


    <footer class="am-footer am-footer-default">
        <div class="am-footer-miscs">
            <p>CopyRight©2016  四志教育 Inc.</p>
        </div>
    </footer>
</div>

<script src="__ASSETS__/vendors/lib.min.js"></script>
<script src="__ASSETS__/scripts/app.min.js"></script>
<script>
    $(function () {
        $('#cuc').find('select').on('change', function () {

            $('input[name=name]').val(
                    $(this).find('option:selected').text()
            );
            $('input[name=contact]').val(
                    $(this).val()
            );

        });
    });
</script>
</body>
</html>