<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <form>
				<div class="sleft">
					<input type="text" name="nick_name" class="search-input" value="{:I('nick_name')}" placeholder="昵称">
					<input type="text" name="agent_name" class="search-input" value="{:I('agent_name')}" placeholder="代理商">
					<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
				</div>
			</form>
        </div>
        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			
		</div>
        
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
	        <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
			<th class="">微信id</th>
			<th class="">昵称</th>
			<th class="">性别</th>
			<th class="">城市</th>
			<th class="">关注时间</th>
			<th class="">上级代理商</th>
			<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="info">
		<volist name="info" id="vo">
		<tr>
			<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.wx_id}</td>
			<td>{$vo.nick_name}</td>
			<td>{$vo.sex}</td>
			<td>{$vo.city}</td>
			<td><span>{$vo.subscribe_time|time_format}</span></td>
			<td>{$vo.agent_name}</td>
			<td><eq name="vo.status" value="1">
				[<a href="{:U('Wxuser/edit?id='.$vo['id'])}" class="authorize">查看信息</a>]
                [<a href="{:U('Wxuser/deleteInfos?id='.$vo['id'])}" class="confirm ajax-get">删除</a>]
            </td>
			
		</tr>
		</volist>
		<else/>
		<td colspan="8" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
	<tbody>
		<notempty name="account">
		<tr>
			<td colspan="6">总计</td>
			<td>{$account}</td>		
		</tr>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url    = $(this).attr('url');
        var query  = $('form').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Wxuser/index')}');

    $(document).ready(function() {
    	$('#select').val("{:U('Wxuser/index',array('parent_id'=>$parent_id))}");	
    	$('#select').change(function(){
    		location.href = $(this).val();
    	});


    	$('select[name="slide_type"]').change(function(event) {
    		$("#search").click();
    	});
    });
	</script>
</block>
