<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <div class="cf">
        <div class="fl">
            
        </div>
        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            
        </div>
        
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
    <table class="">
    <thead>
        <tr>
            
            <th class="">时间</th>
            <th class="">语文</th>
            <th class="">数学</th>
            <th class="">英语</th>
            <th class="">评论</th>
            
        </tr>
    </thead>
    <tbody>
        <for start="0" end="12" name="i">
        <tr>
            <td><input  type="text" name="test-time" id="{$i}_time"   <if condition="$data[$i][y]"> value="{$data[$i]['y']}-{$data[$i]['m']}"
    <else /> value = ""
    </if> /></td>
            <td><input  type="text" name="chinese" id="{$i}_1" onblur="preScore(1,{$i})" value="{$data[$i]['chinese']}"  /></td>
            <td><input  type="text" name="math"   id="{$i}_2" onblur="preScore(2,{$i})" value="{$data[$i]['math']}" /></td>
            <td><input  type="text" name="english" id="{$i}_3" onblur="preScore(3,{$i})" value="{$data[$i]['english']}" /></td>
            <td><input  type="text" name="comment" id="{$i}_comment" onblur="preComment({$i})" value="{$data[$i]['comment']}" size="60" /></td>
        </tr>
        </for>
    </tbody>
    </table>
    <div class="form-item">            
        <button class="btn submit-btn ajax-post" id="submit" type="submit" onclick="sunbFunc()">确 定</button>
        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
    </div>
    </div>
    <div class="page">
        {$_page}
    </div>
    <div id="scoreSubmit">
        
    </div>
    <div id="commentSubmit">
        
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
    //搜索功能
    $("#search").click(function(){
        var url = $(this).attr('url');
        var query  = $('form').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        window.location.href = url;
    });
    //回车搜索
    $(".search-input").keyup(function(e){
        if(e.keyCode === 13){
            $("#search").click();
            return false;
        }
    });
    //导航高亮
    highlight_subnav('{:U('Score/index')}');

    $(document).ready(function() {
        $('#select').val("{:U('Score/index',array('parent_id'=>$parent_id))}"); 
        $('#select').change(function(){
            location.href = $(this).val();
        });

        $('select[name=info_type]').change(function(event) {
            $('#search').click();
        });
    });
    </script>
    <script>
    //写入隐藏input
    var scoParam = $('#scoreSubmit');//分数
    function preScore(obj,i){
        var score = $("#"+i+"_"+obj).val();
        var test_time = $("#"+i+"_time").val();
        var student_id= {$student_id};
        if(test_time==''){
           return false;
        }

        var o = scoParam.find("[name='"+obj+i+"']");
        if(o.length == 0) {
            scoParam.append('<input type="hidden" name="'+obj+i+'" class="scoreSub" obj="'+obj+'" i="'+i+'">');
        }
    }

    var comParam = $('#commentSubmit');//评论
    function preComment(i){
        var chinese = $("#"+i+"_1").val();
        var math = $("#"+i+"_2").val();
        var english = $("#"+i+"_3").val();
        var test_time = $("#"+i+"_time").val();
        var comment = $("#"+i+"_comment").val();
        var student_id= {$student_id};
        if(chinese=='' && math=='' && english=='' ){
           return false;
        }
        if(test_time==''){
           return false;
        }
        if(comment==''){
           return false;
        }
        var o = comParam.find("[name='"+i+"']");
        if(o.length == 0) {
            comParam.append('<input type="hidden" name="'+i+'" class="commentSub" i="'+i+'">');
        }
    }
    //提交数据
    function sunbFunc(){
        //分数
        var result = true;
        var sco = $('.scoreSub');
        if(sco.length > 0) {
            sco.each(function(i){
                //调用分数提交方法
                var res = score($(this).attr("obj"),$(this).attr("i"));
                if(res==false){
                    result = false;
                }
            });
        }
        //评论
        var com = $('.commentSub');
        if(com.length > 0) {
            com.each(function(i){
                //调用评论提交方法
                var res = comment($(this).attr("i"));
                if(res==false){
                    result = false;
                }
            });
        }
        if(result == false){
            return false;
        }
        // alert('提交成功');
//        return false;
        window.location.reload();
    }

    function score(obj,i){
        var score = $("#"+i+"_"+obj).val();
        var test_time = $("#"+i+"_time").val();
        var student_id= {$student_id};
        if(test_time==''){
           alert("请填写时间");
           return false;
        }
        $.ajax({
            url: "{:U('Score/score')}",
            type: 'post',
            dataType: 'json',
            data: {
                subject_id:obj,score:score,test_time:test_time,student_id:student_id
            },
            success:function(data) {
              if(data.code!=1){
                 alert("更新失败");
                 return false;
              }
                console.log(data);
            }
        });
    }

    function comment(i){
        var chinese = $("#"+i+"_1").val();
        var math = $("#"+i+"_2").val();
        var english = $("#"+i+"_3").val();
        var test_time = $("#"+i+"_time").val();
        var comment = $("#"+i+"_comment").val();
        var student_id= {$student_id};
        if(chinese=='' && math=='' && english=='' ){
           alert("请填分数");
           return false;
        }
        if(test_time==''){
           alert("请填写时间");
           return false;
        }
        if(comment==''){
           alert("请填写评论");
           return false;
        }
        $.ajax({
            url: '{:U('Score/comment')}',
            type: 'post',
            dataType: 'json',
            data: {
                test_time:test_time,student_id:student_id,comment:comment
            },
            success:function(data) {
              if(data.code!=1){
                 alert("更新失败");
                 return false;
              }
            }
        });
    }
    
    </script>

</block>
