<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('Contact/add')}">新 增</a>
            <button class="btn ajax-post confirm" url="{:U('deleteInfos')}" target-form="ids" target-form="ids">删 除</button>
        </div>
        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<form>
				<div class="sleft">
					<input type="text" name="contact_name" class="search-input" value="{:I('contact_name')}" placeholder="名称">
					<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
				</div>
			</form>
		</div>
        
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
	        <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
			<th class="">公司名称</th>
			<th class="">联系人</th>
			<th class="">QQ</th>
			<th class="">邮箱</th>
			<th class="">电话</th>
			<th class="">传真</th>
			<th class="">时间</th>
			<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="info">
		<volist name="info" id="vo">
		<tr>
			<td><input class="ids" type="checkbox" name="contact_id[]" value="{$vo.contact_id}" /></td>
			<td>{$vo.contact_name}</td>
			<td>{$vo.contact_member}</td>
			<td>{$vo.contact_qq}</td>
			<td>{$vo.contact_email}</td>
			<td>{$vo.contact_tel}</td>
			<td>{$vo.contact_fax}</td>
			<td><span>{$vo.contact_time|time_format}</span></td>
			<td><eq name="vo.status" value="1">
				[<a href="{:U('Contact/edit?contact_id='.$vo['contact_id'])}" class="authorize">编辑</a>]
                [<a href="{:U('Contact/deleteInfos?contact_id='.$vo['contact_id'])}" class="confirm ajax-get">删除</a>]
            </td>
			
		</tr>
		</volist>
		<else/>
		<td colspan="11" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('form').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Contact/index')}');

    $(document).ready(function() {
    	$('#select').val("{:U('Contact/index',array('parent_id'=>$parent_id))}");	
    	$('#select').change(function(){
    		location.href = $(this).val();
    	});

    	$('select[name="contact_type"]').change(function(event) {
    		$("#search").click();
    	});
    });
	</script>
</block>
