<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <button class="btn ajax-post confirm" url="{:U('deleteInfo')}" target-form="ids" target-form="ids">删 除</button>
        </div>
        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<form>
			    <div class="sleft">
					<input type="text" name="start_time" class="search-input" value="{:I('start_time')}" placeholder="开始时间如：20160830">
			    </div>
			    <div class="sleft">
					<input type="text" name="end_time" class="search-input" value="{:I('end_time')}" placeholder="结束时间如：20160831">
			    </div>
				<div class="sleft">
					<input type="text" name="agent_name" class="search-input" value="{:I('agent_name')}" placeholder="代理商姓名">
			     </div>
			     <div style="float:left; margin-right:5px;">
					  结算状态:
					<select name="statements_status">
	                    <foreach name="status" item="opt" key="opt_k">
	                        <option value="{$opt_k}" <eq name="statements_status" value="opt"> selected</eq>>{$opt}</option>
	                    </foreach>
                    </select>
                  </div>
                 <div class="sleft">		
					<input type="text" name="order_id" class="search-input" value="{:I('order_id')}" placeholder="订单号">
					<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			     </div>	
				
			</form>
		</div>
        
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
	        <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
	        <th class="">订单号</th>
			<th class="">代理商姓名</th>
			<th class="">课程名称</th>
			<th class="">订单金额</th>
			<th class="">下单时间</th>
			<th class="">代理商提成比例</th>
			<th class="">收入</th>
			<th class="">结算状态</th>
			<th class="">添加时间</th>
			<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="info">
		<volist name="info" id="vo">
		<tr>
			<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.order_id}</td>
			<td>{$vo.agent_name}</td>
			<td>{$vo.class_name}</td>
			<td>{$vo.pay_money}</td>
			<td><span>{$vo.pay_time|time_format}</span></td>
			<td>{$vo.agent_ratio}</td>
			<td>{$vo.income}</td>
			<td>{$vo.statements_status}</td>
			<td><span>{$vo.add_time|time_format}</span></td>
			<td><eq name="vo.status" value="1">
				[<a href="{:U('Agentorder/edit?id='.$vo['id'])}" class="authorize">编辑</a>]
                [<a href="{:U('Agentorder/deleteInfo?id='.$vo['id'])}" class="confirm ajax-get">删除</a>]
            </td>
			
		</tr>
		</volist>
		<else/>
		<td colspan="4" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
	<tbody>
		<notempty name="data">
		<tr>
			<td colspan="7">总计</td>
			<td>{$data.all_income}</td>		
		</tr>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('form').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Agentoeder/index')}');

    $(document).ready(function() {
    	$('#select').val("{:U('Agentorder/index',array('parent_id'=>$parent_id))}");	
    	$('#select').change(function(){
    		location.href = $(this).val();
    	});

    	$('select[name="case_type"]').change(function(event) {
    		$("#search").click();
    	});
    });
	</script>
</block>
