<extend name="Public/base"/>

<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <form action="{:U('Opp/update')}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">订单号:{$data.order_id}</label>
                
        </div>
        <div class="form-item">
            <label class="item-label">学生:{$data.student_name}</label>
                
        </div>
        <div class="form-item">
            <label class="item-label">课程:{$data.class_name}</label>
                
        </div>
        <div class="form-item">
            <label class="item-label">具体上课时间<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" name="class_time" class="text  time" value="2016-01-02 10:00"  />格式：2016-01-02 10:00
            </div>
        </div>
        
        <div class="form-item">
            <input type="hidden" name="id" value="{$data.id}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>           
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript"> 
    highlight_subnav('{:U('Opp/index')}');

    $('select[name=info_type]').change(function(event) {
         $('.check-tips_' + $(this).val()).show().siblings('.check-tips').hide();
    });
    $('select[name=info_type]').trigger('change');
    
    <if condition="$data.parent_id">
    // $(document).ready(function() {
    //     $('select[name=parent_id]').val({$data.parent_id});
    // });
    </if>    
    </script>
</block>
