<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
	<div class="cf">
        <div class="search-form fr cf">
			<form>
				<div style="float:left; margin-right:5px;">
				   
                    教师:
					<select name="teacher_id">
	                    <option value="0" >请选择</option>
	                    <foreach name="teacher" item="opt" key="opt_k">
	                        <option value="{$opt.teacher_id}" <eq name="teacher_id" value="$opt.teacher_id"> selected</eq>>{$opt.teacher_name}</option>
	                    </foreach>
                    </select>
                    
                </div>
				<div class="sleft">
					<input type="text" name="order_id" class="search-input" value="{:I('order_id')}" placeholder="订单号">
					<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
				</div>
			</form>
		</div>
        
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
	        <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
			<th class="">订单号</th>
			<th class="">课程</th>
			<th class="">教师</th>
			<th class="">学生</th>
			<th class="">课程开始时间</th>
			<th class="">具体上课时间</th>
			<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="info">
		<volist name="info" id="vo">
		<tr>
			<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.order_id}</td>
			<td>{$vo.class_name}</td>
			<td>{$vo.teacher_name}</td>
			<td>{$vo.student_name}</td>
			<td><span>{$vo.class_start_time|time_format}</span></td>
			<td><span>{$vo.class_time|time_format}</span></td>
			<td><eq name="vo.status" value="1">
				[<a href="{:U('Opp/edit?id='.$vo['id'])}" class="authorize">编辑</a>]
                [<a href="{:U('Opp/deleteInfos?id='.$vo['id'])}" class="confirm ajax-get">删除</a>]
            </td>
			
		</tr>
		</volist>
		<else/>
		<td colspan="11" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('form').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Opp/index')}');

    $(document).ready(function() {
    	$('#select').val("{:U('Opp/index',array('parent_id'=>$parent_id))}");	
    	$('#select').change(function(){
    		location.href = $(this).val();
    	});

    	$('select[name=info_type]').change(function(event) {
    		$('#search').click();
    	});
    });
	</script>
</block>
