<!doctype html>
<html class="no-js">
<include file="index/header" />
<body>
<div id="loading" class="popload">
    <div class="popload-main">
        <span class="popload-main-ico"></span>
        <p class="popload-main-txt" id="progress">加载中...</p>
    </div>
</div>

<div class="wrapper">
    <header data-am-widget="header" class="am-header am-header-default am-header-fixed">
        <div class="am-header-left am-header-nav">
            <a href="{:U('Index/Home')}" class="am-btn">
                <i class="am-header-icon am-icon-angle-left am-icon-sm"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            个人中心
        </h1>
        <div class="am-header-right am-header-nav">
            <button class="am-btn am-btn-primary" data-am-collapse="{target: '#collapse-nav'}"><i class="am-icon-bars am-icon-sm"></i></button>
        </div>
        <include file="index/nav" />
    </header>

    <div class="container">
        <div class="uc-header am-g am-padding-xs">
            <div class="am-u-sm-4">
                <img src="{$UserInfo.pic}" alt="" class="am-img-thumbnail am-img-responsive am-circle">
            </div>
            <div class="am-u-sm-8">
                <h3>
                    {$UserInfo.nick_name}，欢迎登陆~
                </h3>
            </div>
        </div>
        <div class="am-tabs am-tabs-d2 am-no-layout uc-top-tabs">
            <ul class="am-tabs-nav am-cf">
                <li class="am-active">
                    <a href="{:U('User/UserCenter','','')}">
                        我的课程
                    </a>
                </li>
                <li>
                    <a href="{:U('User/UserScore')}">
                        历史成绩
                    </a>
                </li>
                <li>
                    <a href="{:U('User/UserInfo')}">
                        个人信息
                    </a>
                </li>
            </ul>
        </div>
        <div class="courses-wrapper my-courses">
            <div data-am-widget="list_news" class="am-list-news am-list-news-default courses-list">
                <div class="am-list-news-bd">
                    <ul class="am-list" id="course-list">

                        <?php $week = array('星期日','星期一','星期二','星期三','星期四','星期五','星期六');?>
                        <foreach name="OrderInfo" item="class" >
                        <eq name="class.pay_status" value="已支付" >
                        <li class="am-g am-list-item-desced">
                            <div class="am-list-main">
                                <h3 class="am-list-item-hd">
                                    <a href="{:U('Teacher/teacherClass','','')}/Cid/{$class.class_id}/.html" class="">
                                        {$class.class_name}
                                        <if condition="$class.class_type eq 1">  （大班）
                                            <elseif condition="$class.class_type eq 2"/> （小班）
                                        </if>
                                        &nbsp;&nbsp;&nbsp;&nbsp;学生：{$class.student_name}
                                    </a>
                                    <small class="am-text-danger am-fr">共￥{$class.class_price}元</small>
                                </h3>
                                <div class="am-g">
                                    <div class="am-u-sm-8">
                                        <div class="am-list-item-text">
                                            时间：{$week[$class['week_id']]}/{$class.time_interval}<br>
                                            地点：{$class.area_name} {$class.class_room}<br>
                                        </div>
                                    </div>
                                    <neq name="class.pay_status" value="已支付" >
                                    <div class="am-u-sm-4">
                                        <a class="am-btn am-btn-danger am-btn-sm" href="{:U('Order/TeacherClass','','')}/Cid/{$class.class_id}/.html">
                                            去支付 <i class="am-icon-angle-right"></i>
                                        </a>
                                    </div>
                                    <else/>
                                    <div class="am-u-sm-4 am-text-right">
                                        {$class.class_status}
                                    </div>
                                    </neq> 
                                </div>
                            </div>
                            <ul class="am-avg-sm-3 am-text-center">
                                <li>￥{$class.class_price}/
                                    <?php
                                        if($class['class_type']==2){
                                            echo $class['times'].'</strong>次';
                                        }else{
                                            $classTurn = array('星期','周','月','年');
                                            echo $classTurn[$class['period']].'</strong>';
                                        }
                                    ?>
                                </li>
                                <li> {$class.pay_status} </li>
                                <li show-desc> 详细 <i class="am-icon-angle-down"></i> </li>
                            </ul>
                            <div class="desc am-padding-sm">
                                简介：{$class.class_desc} <br />
                                <!--上课日期：-->
                                <?php $arr_class_time=explode(',',$class['class_times']);?>
                                <!--<foreach name="arr_class_time" item="classTime" >
                                    {$classTime}&lt;!&ndash;<?php $timeNow = strtotime(date('Ymd')); if($classTime['class_time']<$timeNow){ echo '(已上完)'; } ?>&ndash;&gt;
                                </foreach>-->
                                <table width="100%">
                                    <tr>
                                        <td width="33.3%" style="text-align: center;">
                                            <a href="javascript:;" onclick='date_show("{$class.class_times}");'>上课时间</a> [4/<?=count($arr_class_time);?>]
                                        </td>
                                        <td width="33.3%" style="text-align: center;">
                                            <a href="javascript:;" onclick='date_show("{$class.class_times}");'>签到</a>
                                        </td>
                                        <td width="33.3%" style="text-align: center;">
                                            <a href="javascript:;" onclick='date_show("");'>请假(解除请假)</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        </eq>
                        </foreach>
                    </ul>
                    <div class="list-more am-text-center" style="display: none;">
                        点击加载更多 <i class="am-icon-angle-right"></i>
                    </div>
                    <div class="am-text-center" >
                        个人学生：
                        <foreach name="UserInfo.students" item="students" >
                            {$students.student_name} &nbsp;
                        </foreach>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="am-footer am-footer-default">
        <div class="am-footer-miscs">
            <p>CopyRight©2016  四志教育 Inc.</p>
        </div>
    </footer>
</div>
<style>
    .date_status {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 10000;
    }
    .date_status ul {
        padding-left: 0em;
    }
</style>
<!--日期弹出层-->
<div class="date_status" style="display: none;">
    <div id="calendar" class="calendar" style="position:relative">
        <img src="__ASSETS__/images/risk-bg02.png" onclick="date_remove();" style="position:absolute;top:0; right:0;">
    </div>
</div>
<!--移除生成的日期标签-->
<script>
    function date_remove() {
        $('.date_status').hide();
        $(".calendar-title").remove();
        $(".calendar-week").remove();
        $(".calendar-date").remove();
    }
</script>

<script src="__ASSETS__/vendors/lib.min.js"></script>
<script src="__ASSETS__/scripts/app.min.js"></script>

<!--引入日历控件calendar-->
<link rel="stylesheet" href="__STATIC__/calendar/css/calendar.css">
<script src="__STATIC__/calendar/js/calendar.js"></script>
<!--引入layer弹出层插件-->
<script src="__STATIC__/layer/layer.js"></script>
<script src="__STATIC__/dialog.js"></script>

<!--<style>
    .active {
        background: red !important;
    }
</style>-->
<script>
    //一位数则补零
    function Appendzero(obj) {
        if (obj < 10) return "0" + obj; else return obj;
    }
    $('body').on('click','.calendar-date', function (e) {
        if (e.target.nodeName === 'LI') {
            var that = $(e.target);

            var class_times=localStorage.getItem("price");//获取课程的时间
            var sel_times=e.target.getAttribute("data");//获取选中的时间
            //jquery获取时间
            var myDate = new Date();
            var at_times=String(Appendzero(myDate.getFullYear()))+String(Appendzero(myDate.getMonth()+1))+String(Appendzero(myDate.getDate()));
            var data_start=class_times.indexOf(sel_times);
            if (data_start!="-1") {
                if(sel_times>at_times) {
                    dialog.success_href_no("签到成功");
                    that.css({"background-color": "red"});
                }else{
                    dialog.error("签到时间不能小于当前的时间");
                }
            }
//            that.css({"background-color": "red"});
           /* if (!that.hasClass("active")) {
                that.addClass("active");
            } else {
                that.removeClass("active");
            }*/
        }
    })
</script>
</body>
</html>