<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>博佳-客户案例</title>
    <!--核心配置-->
    <!--<link href="__BJ__/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />-->
    <link href="__BJ__/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="__BJ__/css/comm.css" rel="stylesheet" type="text/css" />
    <!--web css-->
    <link href="__BJ__/css/layout.css" rel="stylesheet" type="text/css" />
    <style>
     .paging .current{
        color:white;
        background-color:red;
        margin: 0 3px;
        padding: 2px 8px;
     }
     .paging a {
        color:black;
        background-color:white;
        margin: 0 3px;
        padding: 2px 8px;
     }
    </style>

</head>
<body>
<div class="main">
    <div class="header">
        <div class="header-main">
            <div class="header-logo"></div>
            <div class="header-nav">
                <ul>
                    <li>
                        <a href="{:U('Bj/index')}#f">
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Bj/index')}#a">
                            关于我们
                        </a>
                    </li>
                    <li class="active">
                        <a href="{:U('Bj/index')}#b">
                            客户案例
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Bj/index')}#c">
                            博佳服务
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Bj/index')}#d">
                            新闻中心
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Bj/index')}#e">
                            联系我们
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box86"></div>
    <div class="navigation">
        <div class="navigation-main">
            <a href="index.html">首页</a> > <span>客户案例</span>
        </div>
    </div>
    <div class="example">
        <div class="title">
            <h3>
                CASE .<span>博佳案例</span>
            </h3>
            <p class="fs-22">
                “台网互动”经典案例呈现
            </p>
            <!-- <p class="fs-14">
                得心应手的跨界设计应用和创新能力
            </p> -->
        </div>
        <div class="page-example-content">
            <ul class="example-list">
                <volist name="cases" id="vo">
                    <li>
                        <div class="litpic">
                            <img src="{$vo.case_thumb}">
                        </div>
                        <div class="more-hover">
                            <a href="{:U('Bj/page?case_id='.$vo['case_id'])}">
                                MORE+
                            </a>
                        </div>
                    </li>
                </volist>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="paging-main">
            <ul class="paging">
               {$_page}
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="footer-main">
            版权所有 SiteServer All Rights Reserved
        </div>
    </div>
</div>

<!--bootstrap js-->
<script src="__BJ__/js/jquery.min.js"></script>
<script src="__BJ__/js/bootstrap.js"></script>

<script type="text/javascript">
    var liClass = ['one','two','three','four','five','six','seven','eight'];
    var liLenght = $(".page-example-content ul li").length;
    var li  = $(".page-example-content ul li");
    for(var i = 0 ; i < liLenght ; i++){
        li.eq(i).addClass(liClass[i])
    }

</script>


</body>
</html>