<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script>
        (function(f){var h=f.document;var b=h.documentElement;var k=f.orientation||0;var j=640;var a=9/16;var d=20;var i=f.devicePixelRatio;var c=i?1/i:1;h.write('<meta name="viewport" content="initial-scale='+c+",maximum-scale="+c+",minimum-scale="+c+',user-scalable=0">');var g=b.clientWidth;var e=b.clientHeight;if(Math.abs(k)==90||g>e){g*=a}b.style.fontSize=(g/i)*d/(j/i)+"px"})(window);
    </script>
    <title>首页</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="stylesheet" href="__ASSETS__/styles/style.min.css">

</head>
<body>
<div id="loading" class="popload">
    <div class="popload-main">
        <span class="popload-main-ico"></span>
        <p class="popload-main-txt" id="progress">加载中...</p>
    </div>
</div>

    <div class="wrapper">
        <header data-am-widget="header" class="am-header am-header-default am-header-fixed">
            <h1 class="am-header-title">
                首页
            </h1>
            <div class="am-header-right am-header-nav">
                <button class="am-btn am-btn-primary" data-am-collapse="{target: '#collapse-nav'}"><i class="am-icon-bars am-icon-sm"></i></button>
            </div>
            <nav>
                <ul id="collapse-nav" class="am-nav am-collapse">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="{:U('User/UserCenter','','')}">个人中心</a></li>
                    <li><a href="rank.html">进步之星排名</a></li>
                    <li><a href="about.html">中心简介</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                </ul>
            </nav>
        </header>

        <div class="am-slider am-slider-default" data-am-flexslider="{directionNav:false}">
            <ul class="am-slides">
                <li>
                    <a href="#">
                        <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="http://s.amazeui.org/media/i/demos/bing-2.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>

        <ul class="subject-list am-avg-sm-4">
            <li><a href="{:U('Teacher/teacherList?Sid=1')}"><i class="hi hi-yw"></i><span>语文</span></a></li>
            <li><a href="{:U('Teacher/teacherList?Sid=2')}"><i class="hi hi-ss"></i><span>数学</span></a></li>
            <li><a href="{:U('Teacher/teacherList?Sid=3')}"><i class="hi hi-yy"></i><span>英语</span></a></li>
            <li><a href="{:U('Teacher/teacherList?Sid=4')}"><i class="hi hi-wl"></i><span>物理</span></a></li>
            <li><a href="{:U('Teacher/teacherList?Sid=5')}"><i class="hi hi-sw"></i><span>生物</span></a></li>
            <li><a href="{:U('Teacher/teacherList?Sid=6')}"><i class="hi hi-hx"></i><span>化学</span></a></li>
            <li><a href="{:U('Teacher/teacherList?Sid=7')}"><i class="hi hi-os"></i><span>奥数</span></a></li>
            <li><a href="{:U('Teacher/teacherList?Sid=8')}"><i class="hi hi-ky"></i><span>口语</span></a></li>
            <li><a href="{:U('Teacher/teacherList?Sid=9')}"><i class="hi hi-mo"></i><span>更多</span></a></li>
        </ul>

   
        <footer class="am-footer am-footer-default">
            <div class="am-footer-miscs">
                <p>CopyRight©2016  四志教育 Inc.</p>
            </div>
        </footer>
    </div>

    <script src="__ASSETS__/vendors/lib.min.js"></script>
    <script src="__ASSETS__/scripts/app.min.js"></script>
</body>
</html>