<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('Class/add',array('type'=>$type))}">新 增</a>
            <button class="btn ajax-post confirm" url="{:U('deleteInfos')}" target-form="ids" target-form="ids">删 除</button>
        </div>
        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<form>
				<div class="sleft">
					<input type="text" name="class_name" class="search-input" value="{:I('class_name')}" placeholder="课程名称">
					<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
				</div>
			</form>
		</div>
        
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
	        <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
	        <th class="">课程id</th>
			<th class="">课程名称</th>
			<th class="">所属科目</th>
			<th class="">教师</th>
			<th class="">上课日期</th>
			<th class="">上课时间</th>
			<th class="">上课地点</th>
			<th class="">团购价格</th>
			<th class="">原价</th>
			<th class="">次数</th>
			<th class="">销售状态</th>
			<th class="">教师提成比例</th>
			<th class="">代理商提成比例</th>
			<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="info">
		<volist name="info" id="vo">
		<tr>
			<td><input class="ids" type="checkbox" name="class_id[]" value="{$vo.class_id}" /></td>
			<td>{$vo.class_id}</td>
			<td>{$vo.class_name}</td>
			<td>{$vo.subject_name}</td>
			<td>{$vo.teacher_name}</td>
			<td title="{$vo.course_dates}">{$vo.course_dates|substr=###,0,10}...</td>
			<td>{$vo.time_interval}</td>
			<td>{$vo.class_place}</td>
			<td>{$vo.class_price}</td>
			<td>{$vo.original_price}</td>
			<td>{$vo.times}</td>
			<td>{$vo.sale_status}</td>
			<td>{$vo.proportion}</td>
			<td>{$vo.agent_ratio}</td>
			<td><eq name="vo.status" value="1">
				[<a href="{:U('Class/edit?class_id='.$vo['class_id'])}" class="authorize">编辑</a>]
                [<a href="{:U('Class/deleteInfos?class_id='.$vo['class_id'])}" class="confirm ajax-get">删除</a>]
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('form').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Class/index')}');

    $(document).ready(function() {
    	$('#select').val("{:U('Class/index',array('parent_id'=>$parent_id))}");	
    	$('#select').change(function(){
    		location.href = $(this).val();
    	});

    	$('select[name=info_type]').change(function(event) {
    		$('#search').click();
    	});
    });
	</script>
</block>
