/** { margin: 0; padding: 0; }
body { font-family: "Microsoft Yahei"; font-size: 12px; color: #888; }
a, a:hover { color: #888; text-decoration: none; }*/


	#calendar{
		margin-top:6rem;
	}

ul, li { list-style: none; }

.calendar {
  display: none;
  width: 98%;
  padding: 2px;
  margin: 2rem auto 0;
  background-color: #fafafa;
  border-radius: 1px;
  	font-size:0.4rem;
  /*zoom:2*/
}
.calendar-title {
  position: relative;
  height: 3rem;
  line-height: 3rem;
  padding: 0.4rem 0;
}
.calendar-title a.title {
  display: inline-block;
  font-size: 0.4rem;
  text-indent: 10px;
}
#backToday {
  position: absolute;
  left: 70%;
  top: 0rem;
  width: 4.1rem;
  height: 4.1rem;
  line-height: 4.1rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(255, 128, 142);
  font-size: 0.4rem;
}
.calendar-title .arrow {
  position: absolute;
  top: 10px;
  right: 0;
  width: 4.1rem;
}
.calendar-title .arrow span {
  color: #ddd;
  font-size: 0.9rem;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.calendar-title .arrow span:hover {
  color: #888;
}
.calendar-title .arrow-prev {
  float: left;
}
.calendar-title .arrow-next {
  float: right;
}
.calendar-week,
.calendar-date {
  overflow: hidden;
}
.calendar-week .item,
.calendar-date .item {
  float: left;
  width: 4.1rem;
  height: 4.1rem;
  line-height:4.1rem;
  text-align: center;
}
.calendar-date .item {
  color: #E5E5E5;
}
.calendar-week {
  padding-bottom: 6px;
  border-bottom: 1px solid rgb(255, 128, 142);
  font-weight: bold;
  font-size: 0.4rem;
}
.calendar-date {}
.calendar-date .item {
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.4rem;
}
.calendar-date .item:hover,
/*.calendar-date .item-curMonth:hover {
  background-color: #f0f0f0;
}*/
.calendar-date .item-curMonth {
  color: #333;
}
.calendar-date .item-curDay,
.calendar-date .item-curDay:hover {
  color: #fff;
  background-color: rgb(255, 128, 142);
}
.calendar-date .item-curDay_status0{
  color: #fff;
  background: url(../../../Home/assets/images/yishangke.png) no-repeat;
  background-size: contain;
}
.calendar-date .item-curDay_status1{
  color: #fff;
  background: url(../../../Home/assets/images/qiandao.png) no-repeat;
  background-size: contain;
}
.calendar-date .item-curDay_status2{
  color: #fff;
  background: url(../../../Home/assets/images/qingjia.png) no-repeat;
  background-size: contain;
}
.calendar-today {
  display: none;
  opacity: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 90px;
  height: 48px;
  padding: 6px 10px;
  background-color: rgb(255, 128, 142);
  border-radius: 5px;
}
.calendar-today .triangle {
  position: absolute;
  top: 50%;
  left: -16px;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent rgb(255, 128, 142) transparent transparent;
}
.calendar-today p {
  color: #fff;
  font-size: 0.4rem;
  line-height: 24px;
}

/*iphone 6plus*/
@media (-webkit-device-pixel-ratio: 3) {
  .calendar {
    zoom:3
  }
}
/*iphone 5和6*/
@media (-webkit-device-pixel-ratio: 2) {
  .calendar {
    zoom: 1.5
  }
}


